@model SGP.Core.Application.ViewModels.Citas.SaveCitaViewModel
@{
    ViewData["Title"] = "Eliminar Cita";
}

<h1 class="text-primary font-weight-bold">Eliminar Cita</h1>
<hr />

<form method="post" asp-controller="Citas" asp-action="DeleteCitaPost">
    <div>
        <p class="">¿Estas seguro de que deseas eliminar este registro del listado de <span class="text-decoration-underline">citas</span>?</p>

        <input type="hidden" asp-for="IdCita" />
        <hr />

        <button type="submit" class="btn btn-primary">Borrar</button>
        <a asp-controller="Citas" asp-action="Index" class="btn btn-success">Volver Atrás</a>
    </div>
</form>
