@model SGP.Core.Application.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home";
}

<h1 class="text-primary font-weight-bold">
    <a class="text-decoration-none text-reset" asp-controller="Home" asp-action="Index">Home</a>
</h1>
<hr />

<img src="https://2.bp.blogspot.com/-bzRbDBYV-Ko/WQMAYJ5ungI/AAAAAAAAShY/t_TdUvrLNwMd78UjOjSflcnprHJwzsY6QCLcB/s1600/apps-de-salud-para-epacientes.jpg"></img>


