@using Microsoft.AspNetCore.Http
@using SGP.Core.Application.Helpers;
@using SGP.Core.Application.ViewModels.Usuarios
@inject IHttpContextAccessor httpContextAccessor
@{
    var User = httpContextAccessor.HttpContext.Session.Get<UsuarioViewModel>("user");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SGP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SGP.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="@(User != null ? "Home" : "Login")" asp-action="Index">SGP</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white text-lg" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-white text-lg" asp-area="" asp-controller="Usuarios" asp-action="Index">Usuarios</a>
                        </li>
                        @if (User != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white text-lg" asp-area="" asp-controller="Medicos" asp-action="Index">Médicos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white text-lg" asp-area="" asp-controller="Pacientes" asp-action="Index">Pacientes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white text-lg" asp-area="" asp-controller="PruebasLab" asp-action="Index">Pruebas de Laboratorio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white text-lg" asp-area="" asp-controller="ResultadosLab" asp-action="Index">Resultados de Laboratorio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white text-lg" asp-area="" asp-controller="Citas" asp-action="Index">Citas</a>
                            </li>
                            <li class="nav-item ml-5">
                                <a class="nav-link text-red text-lg" asp-area="" asp-controller="Login" asp-action="LogOut">Cerrar sesión</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container">
            &copy; 2023 - SGP
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
