@model SGP.Core.Application.ViewModels.Medicos.SaveMedicoViewModel
@{
    bool editMode = Model.IdMedico == 0 ? false : true;
    ViewData["Title"] = "Save Médico";
}

<h1 class="text-primary font-weight-bold">@(editMode ? "Modificar Médico:" : "Añadir Médico:")</h1>
<hr />
<form method="post" asp-controller="Medicos" asp-action="@(editMode ? "EditMedico" : "CreateMedico")" enctype="multipart/form-data">
    <div class="row">
        <div class="mb-3 col-4">
            <label asp-for="Nombre" class="form-label" style="font-weight:500">Nombre:</label>
            <input type="text" class="form-control" asp-for="Nombre" minlength="3" maxlength="50">
            <span asp-validation-for="Nombre" class="form-text text-danger"></span>
        </div>
        <div class="mb-3 col-4">
            <label asp-for="Apellido" class="form-label" style="font-weight:500">Apellido:</label>
            <input type="text" class="form-control" asp-for="Apellido" minlength="3" maxlength="100">
            <span asp-validation-for="Apellido" class="form-text text-danger"></span>
        </div>
        <div class="mb-3 col-4">
            <label asp-for="Telefono" class="form-label" style="font-weight:500">Teléfono:</label>
            <input type="text" class="form-control" asp-for="Telefono" minlength="10">
            <span asp-validation-for="Telefono" class="form-text text-danger"></span>
        </div>
        <div class="mb-3 col-4">
            <label asp-for="Correo" class="form-label" style="font-weight:500">Correo electrónico:</label>
            <input type="email" class="form-control" asp-for="Correo" maxlength="450">
            <span asp-validation-for="Correo" class="form-text text-danger"></span>
        </div>
        <div class="mb-3 col-4">
            <label asp-for="Cedula" class="form-label" style="font-weight:500">Cédula:</label>
            <input type="text" class="form-control" asp-for="Cedula" minlength="10" maxlength="15">
            <span asp-validation-for="Cedula" class="form-text text-danger"></span>
        </div>
        <div class="mb-3 col-4">
            <label asp-for="File" class="form-label" style="font-weight:500">Foto:</label>
            @if (editMode)
            {
                <input type="file" accept="image/jpeg, image/png, image/jpg" class="form-control" asp-for="File">
            } else
            {
                <input type="file" required accept="image/jpeg, image/png, image/jpg" class="form-control" asp-for="File">
            }
            <span asp-validation-for="File" class="form-text text-danger"></span>
        </div>
    <input type="hidden" asp-for="IdMedico" />
    </div>
    <hr />
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-controller="Medicos" asp-action="Index" class="btn btn-success">Volver Atrás</a>
</form>